<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick-custom-theme.css" />
<link rel="stylesheet" type="text/css" href="css/global-style.css" />
<link rel="stylesheet" type="text/css" href="css/response.css" />
<link rel="stylesheet" type="text/css" href="plugins/font-awesome-4.6.3/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<script type="text/javascript" src="scripts/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="plugins/slick/slick.js"></script>
<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jsmobile.js"></script>

</head>
<body>
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-header">
					<p class="text-center"><b>ĐẶT LỊCH TỔ CHỨC SỰ KIỆN</b></p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<input type="text" class="form-control" id="text" placeholder="Họ và tên">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="text" placeholder="Điện thoại">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="text" placeholder="Thời gian dự kiến">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="text" placeholder="Số lượng khách dự kiến">
						</div>
					</form>
					<div class="row">
						<div class="col-md-6">
							<p><b>Hỗ trợ : 0911.165.165</b></p>
							<p>Địa chỉ : tầng M, 165 Thái Hà - Hà Nội</p>
						</div>
						<div class="col-md-6 text-right" style="">
							<button class="buttonOrder"><img src="images/datban-icon.png">Đặt bàn</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section id="wrap" class="wrap-bgblack" >
		<header class="main-header">
			<div class="fixTopHead clearfix">
				<div class="leftTopHead">
					<a href="#">
						<img src="images/logo.png">
					</a>
				</div>
				<div class="rightTopHead">
					<nav class="menuTopHead">
						<ul class="ul clearfix">
							<li>
								<a href="" data-target="#myModal" data-toggle="modal" class="buttonOrder"> <img src="images/datban-icon.png">Đặt bàn</a>
							</li>
							<li>
								<a href="">Giới thiệu</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							
						</ul>
					</nav>
				</div>
			</div>
		</header> 
		<section class="main-content">
			<div class="headContent">
				<p class="text-center title_h1">GIỚI THIỆU</p>
				<div class="headBreadyCrum">
					<a href="">Home</a>&nbsp / <a href="" class="active">Giới thiệu</a>
				</div>
			</div>
			<div class="spartContent">
				<section class="container">
					<section class="gioithieuContent">
						<div class="chienbinh">
							<p class="title_h2">Chiến binh Sparta</p>
							<p class="text-center">MAKING SHOW BER POSSITION</p>
							<P class="text-center">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</P>
						</div>
						<div class="danhsachbaiviet">
							<div class="row">
								<div class="col-md-4">
									<a href="#">
										<img src="images/dace1.png">
									</a>
								</div>
								<div class="col-md-4">
									<a href="#">
										<img src="images/dace2.png">
									</a>
								</div>
								<div class="col-md-4">
									<a href="#">
										<img src="images/dace3.png">
									</a>
								</div>
							</div>
						</div>
						<div class="hethong">
							<p class="title_p">Hệ thống âm nhạc đỉnh cao</p>
							<div>
								<P>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</P>
								<img src="images/girldj.png">
							</div>
						</div>
						<div class="hethong">
							<p class="title_p">Ẩm thực hội tụ</p>
							<div>
								<P>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</P>
								<img src="images/amthuc.png">
							</div>
						</div>
						<div class="dance hethong">
							<p class="title_p">Dance</p>
							<div class="row">
								<div class="col-md-4">
									<section>
										<div class="headImage">
											<img src="images/userdance1.png">
										</div>
										<div class="bodyImage">
											<p class="title_name text-center"><b>Delar Grold</b></p>
											<p>
												Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
											</p>
										</div>
										<div class="footImage">
											
										</div>
									</section>
								</div>
								<div class="col-md-4">
									<section>
										<div class="headImage">
											<img src="images/userdance2.png">
										</div>
										<div class="bodyImage">
											<p class="title_name text-center"><b>Delar Grold</b></p>
											<p>
												Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
											</p>
										</div>
										<div class="footImage">
											
										</div>
									</section>
								</div>
								<div class="col-md-4">
									<section>
										<div class="headImage">
											<img src="images/userdance3.png">
										</div>
										<div class="bodyImage">
											<p class="title_name text-center"><b>Delar Grold</b></p>
											<p>
												Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
											</p>
										</div>
										<div class="footImage">
											
										</div>
									</section>
								</div>
							</div>
						</div>
						<div class="dance hethong">
							<p class="title_p">SPARTA DJ</p>
							<div class="row">
								<div class="col-md-4">
									<section>
										<div class="headImage">
											<img src="images/santadj.png">
										</div>
										<div class="bodyImage">
											<p class="title_name text-center"><b>Delar Grold</b></p>
											<p>
												Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
											</p>
										</div>
										<div class="footImage">
											
										</div>
									</section>
								</div>
								<div class="col-md-4">
									<section>
										<div class="headImage">
											<img src="images/santadj.png">
										</div>
										<div class="bodyImage">
											<p class="title_name text-center"><b>Delar Grold</b></p>
											<p>
												Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
											</p>
										</div>
										<div class="footImage">
											
										</div>
									</section>
								</div>
								<div class="col-md-4">
									<section>
										<div class="headImage">
											<img src="images/santadj.png">
										</div>
										<div class="bodyImage">
											<p class="title_name text-center"><b>Delar Grold</b></p>
											<p>
												Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
											</p>
										</div>
										<div class="footImage">
											
										</div>
									</section>
								</div>
							</div>
						</div>
						<div class="tochucsukien hethong">
							<p class="title_p">Tổ chức sự kiện tại Sparta</p>
							<p>
								This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
							</p>
							<div class="row">
								<div class="col-md-6">
									<div class="boxLeft">
										Tham khảo<br>
										chương trình
									</div>
								</div>
								<div class="col-md-6">
									<div class="boxRight">
										Đặt lịch <br>
										0169.425.4791
									</div>
								</div>
							</div>
						</div>
					</section>
				</section>
				<section class="slideFootGioithieu">
					<div>
						<img src="images/anhfoot1.jpg">
					</div>
					<div>
						<img src="images/anhfoot2.jpg">
					</div>
					<div>
						<img src="images/anhfoot1.jpg">
					</div>
					<div>
						<img src="images/anhfoot2.jpg">
					</div>
					<div>
						<img src="images/anhfoot1.jpg">
					</div>
					<div>
						<img src="images/anhfoot2.jpg">
					</div>
				</section>
			</div>
		</section>
		<footer class="main-footer clearfix">
			<section class="leftFootPage">
				<nav>
					<ul class="ul clearfix">
						<li>
							<a href=""><img src="images/mesicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/ficon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/twicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/mayanhicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/youtuicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/inboxicon.png"></a>
						</li>
					</ul>
				</nav>
			</section>
			<section class="rightFootPage">
				<p>165 Thái Hà, Đống Đa, Hà Nội   |   Hotline: 0977.165.165 - 0888.165.165</p>
			</section>
		</footer>
	</section>
	<script type="text/javascript">
		$('.slideFootGioithieu').slick({
	      	slidesToShow: 5,
	      	slidesToScroll: 1,
	      	autoplay: true,
	      	autoplaySpeed: 2000,
	      	dots: true,
	      	responsive: [
	            {
	            breakpoint: 1000,
	            settings: {
	                slidesToShow: 5,
	                slidesToScroll: 2
	            }
	            },
	            {
	            breakpoint: 800,
	            settings: {
	                slidesToShow: 4,
	                slidesToScroll: 1
	            }
	            },
	            {
	            breakpoint: 481,
	            settings: {
	                slidesToShow: 3,
	                slidesToScroll: 1
	            }
	            },
	            {
	            breakpoint: 321,
	            settings: {
	                slidesToShow: 2,
	                slidesToScroll: 1
	            }
	            }
	            // You can unslick at a given breakpoint now by adding:
	            // settings: "unslick"
	            // instead of a settings object
	        ]
	    });
	</script>
</body>
</html>