<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick-custom-theme.css" />
<link rel="stylesheet" type="text/css" href="css/global-style.css" />
<link rel="stylesheet" type="text/css" href="css/hai's_style.css" />
<link rel="stylesheet" type="text/css" href="css/response.css" />
<link rel="stylesheet" type="text/css" href="plugins/font-awesome-4.6.3/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<script type="text/javascript" src="scripts/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="plugins/slick/slick.js"></script>
<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jsmobile.js"></script>

</head>
<body>
	<section id="wrap" class="" >
		<header class="main-header">
			<div class="fixTopHead clearfix">
				<div class="leftTopHead">
					<a href="#">
						<img src="images/logo.png">
					</a>
				</div>
				<div class="rightTopHead">
					<nav class="menuTopHead">
						<ul class="ul clearfix">
							<li>
								<a href="" class="buttonOrder"> <img src="images/datban-icon.png">Đặt bàn</a>
							</li>
							<li>
								<a href="">Giới thiệu</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							
						</ul>
					</nav>
				</div>
			</div>
		</header> 
		<section class="main-content">
			<div class="headContent">
				<p class="text-center title_h1">Liên hệ</p>
				<div class="headBreadyCrum">
					<a href="">Trang chủ</a>&nbsp / <a href="" class="active">Liên hệ</a>
				</div>
			</div>
			<div class="contact">
				<div class="contact_top container">
					<div class="contact_top_form row">
						<div class="col-md-12">
							<article class="text-center text_title">
								Gửi Góp ý, thắc mắc của bạn tới chúng tôi
							</article>
							<p class="text-center text_form_contact">
								ĐỊA CHỈ: Tầng M, Tòa nhà SONGHONG LAND, 165 Thái Hà, Đống Đa, Hà Nội
							</p>
							<p class="text-center text_form_contact">
								Đặt bàn: 0911.165.165  |  Hotline: 0977.165.165   |  Email: spartabeerclub@gmail.com
							</p>
						</div>
						<div>
							<form action="" method="" class="form_contact">
								<div class="col-md-6">
									<div class="clearfix marginTop">
										<span class="formContactLabel">Họ và tên:</span>
										<input type="text" name="fullname" value="" class="formContactInput" />
									</div>
									<div class="clearfix marginTop">
										<span class="formContactLabel">Điện thoại:</span>
										<input type="text" name="phone" value="" class="formContactInput" />
									</div>
									<div class="clearfix marginTop">
										<span class="formContactLabel">Email:</span>
										<input type="text" name="email" value="" class="formContactInput" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="clearfix marginTop">
										<span class="formContactLabel">Lời nhắn</span>
									<input type="text" name=" messages" value="" class="formContactInput" />
									</div>
								</div>
								<div class="col-md-12 text-center marginTop"> 
									<button type="submit" id="btn_send_contact">GỬI LIÊN HỆ</button>
								</div>
								
							</form>
						</div>
					</div>
					<div class="row div_bottom_form_contact">
						<div class="col-md-6 marginTop">
							<p class="padding_left font_bold">DỊCH VỤ KHÁCH HÀNG </p>
							<div class="border_left padding_left font_bold font_15">
								Đặt bàn: 0911.165.165  <br />Hotline: 0977.165.165  <br />Email: spartabeer
							</div>
						</div>
						<div class="col-md-6 marginTop">
							<p class="padding_left font_bold">LIÊN HỆ QUẢNG CÁO </p>
							<div class="border_left padding_left font_bold font_15">
								Phòng Marketing: <br />Hotline: 0932 311 311 ( Mr Tùng) <br />Email: letung
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="contact_bot container" id="gmap_canvas">
				</div>
			</div>
		</section>
		<footer class="main-footer clearfix">
			<section class="leftFootPage">
				<nav>
					<ul class="ul clearfix">
						<li>
							<a href=""><img src="images/mesicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/ficon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/twicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/mayanhicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/youtuicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/inboxicon.png"></a>
						</li>
					</ul>
				</nav>
			</section>
			<section class="rightFootPage">
				<p>165 Thái Hà, Đống Đa, Hà Nội   |   Hotline: 0977.165.165 - 0888.165.165</p>
			</section>
		</footer>
	</section>

	<!-- load gmap for map -->
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBynM-M9Wbv9_qEK3QwTRVcpuygF9Lttqo">
	</script>
	<script type="text/javascript">
		function init_map() {
            var myOptions = {zoom: 14, center: new google.maps.LatLng(21.032544, 105.798725), mapTypeId: google.maps.MapTypeId.ROADMAP};
            map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
            marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(21.014557, 105.817090)});
            infowindow = new google.maps.InfoWindow({content: "Sparta Beer Club - Tầng M , Tòa nhà SONGHONG LAND - 165 Thái Hà - Đống Đa - Hà Nội"});
            google.maps.event.addListener(marker, "click", function () {
                infowindow.open(map, marker);
            });
            infowindow.open(map, marker);
        }
        google.maps.event.addDomListener(window, 'load', init_map);
	</script>
</body>
</html>