<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Event Detail</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick-custom-theme.css" />
<link rel="stylesheet" type="text/css" href="css/global-style.css" />
<link rel="stylesheet" type="text/css" href="css/hai's_style.css" />
<link rel="stylesheet" type="text/css" href="css/response.css" />
<link rel="stylesheet" type="text/css" href="plugins/font-awesome-4.6.3/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<script type="text/javascript" src="scripts/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="plugins/slick/slick.js"></script>
<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jsmobile.js"></script>

</head>
<body>
	<section id="wrap" class="" >
		<header class="main-header">
			<div class="fixTopHead clearfix">
				<div class="leftTopHead">
					<a href="#">
						<img src="images/logo.png">
					</a>
				</div>
				<div class="rightTopHead">
					<nav class="menuTopHead">
						<ul class="ul clearfix">
							<li>
								<a href="" class="buttonOrder"> <img src="images/datban-icon.png">Đặt bàn</a>
							</li>
							<li>
								<a href="">Giới thiệu</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							
						</ul>
					</nav>
				</div>
			</div>
		</header> 
		<section class="main-content">
			<div class="headContent">
				<p class="text-center title_h1">Ai là triệu phú</p>
				<p class="text-center text_white">
					Thứ 5, 23 tháng 11, 2017
				</p>
				<p class="text-center text_white eventTopDes">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in cu
				</p>
			</div>
			<div class="event_detail">
				<div class="imgEventTop">
					<img src="images/eventDetail/ailatrieuphu.png" alt="" />
					<div class="btn_booking"><a href="" class="font_bold">ĐẶT VÉ</a></div>
				</div>
				<div class="envent_detail_introduct">
					<article class="title_h1 font_bold font_22 upperCase">Giới thiệu</article>
					<p class="text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
					</p>
					<div class="advertisers">
						<div class="row">
							<div class="col-md-4 text-center">
								<h1 class="font_bold">H1</h1>
								<p>Advertisers Embrace Rich</p>
								<p>Media Format</p>
							</div>
							<div class="col-md-4  text-center">
								<h2 class="font_bold">H2</h2>
								<p>Advertisers Embrace Rich</p>
								<p>Media Format</p>
							</div>
							<div class="col-md-4 text-center">
								<h3 class="font_bold">H3</h3>
								<p>Advertisers Embrace Rich</p>
								<p>Media Format</p>
							</div>
							<div class="col-md-4 text-center">
								<h4 class="font_bold">H4</h4>
								<p>Advertisers Embrace Rich</p>
								<p>Media Format</p>
							</div>
							<div class="col-md-4 text-center">
								<h5 class="font_bold">H5</h5>
								<p>Advertisers Embrace Rich</p>
								<p>Media Format</p>
							</div>
							<div class="col-md-4 text-center">
								<h6 class="font_bold">H6</h6>
								<p>Advertisers Embrace Rich</p>
								<p>Media Format</p>
							</div>
						</div>
					</div>
				</div>
				<div class="event_detail_video">
					<article class="title_h1 font_bold font_22">Video</article>
					<div class="eventVideo">
						<video controls="controls" src="images/eventDetail/Justin Bieber – I'll Show You.mp4"
                               audio='muted' poster="images/eventDetail/video.png"  onclick="this.play()">
                               Your browser does not support video tag
                        </video>
					</div>
				</div>
				<div class="event_detail_list_text">
					<div class="eventDetailListText">
						<ul>
							<li class="ed_left_text" data-pos="1">
								<img src="images/eventDetail/icon_list_text.png" alt="" />
								<span>Aliquam consequat nisl ac euismod </span>
							</li>
							<li class="ed_left_text" data-pos="2">
								<img src="images/eventDetail/icon_list_text.png" alt="" />
								<span>Aliquam consequat nisl ac euismod </span>
							</li>
							<li class="ed_left_text" data-pos="3">
								<img src="images/eventDetail/icon_list_text.png" alt="" />
								<span>Aliquam consequat nisl ac euismod </span>
							</li>
							<li class="ed_left_text" data-pos="4">
								<img src="images/eventDetail/icon_list_text.png" alt="" />
								<span>Aliquam consequat nisl ac euismod </span>
							</li>
							<li class="ed_left_text" data-pos="5">
								<img src="images/eventDetail/icon_list_text.png" alt="" />
								<span>Aliquam consequat nisl ac euismod </span>
							</li>
							<li class="ed_left_text" data-pos="6">
								<img src="images/eventDetail/icon_list_text.png" alt="" />
								<span>Aliquam consequat nisl ac euismod </span>
							</li>
						</ul>
					</div>
					<div class="eventDetailContentText">
						<p class="text-center ed_right_text" id="ed_right_text_1" >
							<span class="quotes">&ldquo;</span>&nbsp;&nbsp;&nbsp;&nbsp;
							If they haven’t converted after looking at some properties, then they will probably leave and return later (or not at all) or do further research by confirming that you specialize in the communities they are interested in most.
							&nbsp;&nbsp;&nbsp;&nbsp;<span class="quotes">&rdquo;</span>
						</p>
						<p class="text-center ed_right_text hidden" id="ed_right_text_2" >
							<span class="quotes">&ldquo;</span>&nbsp;&nbsp;&nbsp;&nbsp;
							text 2
							&nbsp;&nbsp;&nbsp;&nbsp;<span class="quotes">&rdquo;</span>
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="bottom_event_detail row">
					<div class="col-md-4 margin_bottom_mobile">
						<a href="" class="event_D">
							<img src="images/eventDetail/1.png" alt="" />
						</a>
					</div>
					<div class="col-md-4 margin_bottom_mobile">
						<a href="" class="event_D">
							<img src="images/eventDetail/2.png" alt="" />
						</a>
					</div>
					<div class="col-md-4 margin_bottom_mobile">
						<a href="" class="event_D">
							<img src="images/eventDetail/3.png" alt="" />
						</a>
					</div>
				</div>
				<div class="bot_ed row">
					<div class="col-md-3 margin_bottom_mobile">
						<div class="div_event_bottom">
							<a href="" class="event_icon">
								<img src="images/eventDetail/icon_1.png" alt="" />
							</a>
							<br /><a href="" class="text-center eventName">Mr. RichdadLoc</a>
							<p class="text-center">
								Chuyên gia Internet Marketing Marketing Marketing
							</p>
						</div>
					</div>
					<div class="col-md-3 margin_bottom_mobile">
						<div class="div_event_bottom">
							<a href="" class="event_icon">
								<img src="images/eventDetail/icon_2.png" alt="" />
							</a>
							<br /><a href="" class="text-center eventName">Mr. RichdadLoc</a>
							<p class="text-center">
								Chuyên gia Internet Marketing Marketing Marketing
							</p>
						</div>
					</div>
					<div class="col-md-3 margin_bottom_mobile">
						<div class="div_event_bottom">
							<a href="" class="event_icon">
								<img src="images/eventDetail/icon_3.png" alt="" />
							</a>
							<br /><a href="" class="text-center eventName">Mr. RichdadLoc</a>
							<p class="text-center">
								Chuyên gia Internet Marketing Marketing Marketing
							</p>
						</div>
					</div>
					<div class="col-md-3 margin_bottom_mobile">
						<div class="div_event_bottom">
							<a href="" class="event_icon">
								<img src="images/eventDetail/icon_4.png" alt="" />
							</a>
							<br /><a href="" class="text-center eventName">Mr. RichdadLoc</a>
							<p class="text-center">
								Chuyên gia Internet Marketing Marketing Marketing
							</p>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</section>
		<footer class="main-footer clearfix">
			<section class="leftFootPage">
				<nav>
					<ul class="ul clearfix">
						<li>
							<a href=""><img src="images/mesicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/ficon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/twicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/mayanhicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/youtuicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/inboxicon.png"></a>
						</li>
					</ul>
				</nav>
			</section>
			<section class="rightFootPage">
				<p>165 Thái Hà, Đống Đa, Hà Nội   |   Hotline: 0977.165.165 - 0888.165.165</p>
			</section>
		</footer>
	</section>
	<script type="text/javascript">
		$('.ed_left_text').click(function(){
	    	$('.ed_right_text').addClass('hidden');
	    	var pos = $(this).attr('data-pos');
	    	$(document).find('#ed_right_text_'+pos).removeClass('hidden');
	    });
	</script>
</body>
</html>