<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="plugins/slick/slick-custom-theme.css" />
<link rel="stylesheet" type="text/css" href="css/global-style.css" />
<link rel="stylesheet" type="text/css" href="css/hai's_style.css" />
<link rel="stylesheet" type="text/css" href="css/response.css" />
<link rel="stylesheet" type="text/css" href="plugins/font-awesome-4.6.3/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<script type="text/javascript" src="scripts/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="plugins/slick/slick.js"></script>
<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jsmobile.js"></script>

</head>
<body>
	<section id="wrap" class="" >
		<header class="main-header">
			<div class="fixTopHead clearfix">
				<div class="leftTopHead">
					<a href="#">
						<img src="images/logo.png">
					</a>
				</div>
				<div class="rightTopHead">
					<nav class="menuTopHead">
						<ul class="ul clearfix">
							<li>
								<a href="" class="buttonOrder"> <img src="images/datban-icon.png">Đặt bàn</a>
							</li>
							<li>
								<a href="">Giới thiệu</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							<li>
								<a href="">Sự kiện</a>
							</li>
							
						</ul>
					</nav>
				</div>
			</div>
		</header> 
		<section class="main-content">
			<div class="headContent">
				<p class="text-center title_h1">Thực đơn</p>
				<div class="headBreadyCrum">
					<a href="">Trang chủ</a>&nbsp / <a href="" class="active">Thực đơn</a>
				</div>
			</div>
			<section class="bg_white">
				<div class="impressive_menu">
					<p class="text-center text_title">Món Nhậu Ấn Tượng</p>
					<ul class="slideImpressiveMenu">
						<li class="course">
							<div class="courseName text-center font_bold">Bidding Directories</div>
							<div class="courseImage text-center">
								<img src="images/menu/impressive/1.png" alt="Bidding Directories" />
							</div>
							<div class="courseDescription">
								<p class="text-center">tcontinues to grow, indicating that the telephone remains a prevalent response tool, according to a recent study. </p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
						<li class="course">
							<div class="courseName text-center font_bold">Characteristics</div>
							<div class="courseImage text-center">
								<img src="images/menu/impressive/2.png" alt="Characteristics" />
							</div>
							<div class="courseDescription">
								<p class="text-center">Despite growth of the Internet over the past seven years, the use of toll-free phone numbers in television advertising</p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
						<li class="course">
							<div class="courseName text-center font_bold">Tips For Designing</div>
							<div class="courseImage text-center">
								<img src="images/menu/impressive/3.png" alt="Tips For Designing" />
							</div>
							<div class="courseDescription">
								<p class="text-center">Despite growth of the Internet over the past seven years, the use of toll-free phone numbers in television </p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
						<li class="course">
							<div class="courseName text-center font_bold">Better Advertising Copy</div>
							<div class="courseImage text-center">
								<img src="images/menu/impressive/4.png" alt="Better Advertising Copy" />
							</div>
							<div class="courseDescription">
								<p class="text-center">Despite growth of the Internet over the past seven years, the use of toll-free phone numbers in television advertising  </p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
						<!-- copy -->
						<li class="course">
							<div class="courseName text-center font_bold">Better Advertising Copy</div>
							<div class="courseImage text-center">
								<img src="images/menu/impressive/4.png" alt="Better Advertising Copy" />
							</div>
							<div class="courseDescription">
								<p class="text-center">Despite growth of the Internet over the past seven years, the use of toll-free phone numbers in television advertising  </p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="food_menu">
					<article class="text-center foodMenuTitle font_bold">Menu Đồ Ăn</article>
					<div class="container_menu_food">
						<div class="foodMenuContent">
							<div class="foodMenuLists">
								<ul>
									<li class="cateMenu" data-position="1">Hải sản</li>
									<li class="cateMenu" data-position="2">Món Cá</li>
									<li class="cateMenu" data-position="3">Món Bò</li>
									<li class="cateMenu" data-position="4">Món Chim</li>
									<li class="cateMenu" data-position="5">Món Lợn</li>
									<li class="cateMenu" data-position="6">Món Bê</li>
									<li class="cateMenu" data-position="7">Món Cừu</li>
									<li class="cateMenu" data-position="8">Món Gà</li>
								</ul>
							</div>
							<div class="foodMenuDetails">
								<ul id="cateMenu_1" class="cateMenuList">
									<li class="courseDetail">
										<div>
											<a class="courseDetailName" href="#">
												Tôm sú bỏ lò phomai <span class="courseDetailPrice">&nbsp;&nbsp;&nbsp;175k</span>
											</a>
											<div class="clear"></div>
										</div>
										<div class="course_des">Nailing It On The Head With Free Internet Advertising</div>
									</li>
									<li class="courseDetail">
										<div>
											<a class="courseDetailName" href="#">
												Nem hải sản chiên giòn
												<span class="courseDetailPrice">&nbsp;&nbsp;&nbsp;175k</span>
											</a>
											<div class="clear"></div>
										</div>
										<div class="course_des">Deciphering Marketing Lingo For Small Business Owners</div>
									</li>
								</ul>
								<ul id="cateMenu_2" class="cateMenuList hidden">
									<li class="courseDetail">
										<div>
											<a class="courseDetailName" href="#">
												Cá rán
												<span class="courseDetailPrice">&nbsp;&nbsp;&nbsp;175k</span>
											</a>
											<div class="clear"></div>
										</div>
										<div class="course_des">Nailing It On The Head With Free Internet Advertising</div>
									</li>
									<li class="courseDetail">
										<div>
											<a class="courseDetailName" href="#">
												Cá hấp bia
												<span class="courseDetailPrice">&nbsp;&nbsp;&nbsp;175k</span>
											</a>
											<div class="clear"></div>
										</div>
										<div class="course_des">
											Deciphering Marketing Lingo For Small Business Owners
										</div>
									</li>
									<li class="courseDetail">
										<div>
											<a class="courseDetailName" href="#">
												Cá om dưa
												<span class="courseDetailPrice">&nbsp;&nbsp;&nbsp;175k</span>
											</a>
											<div class="clear"></div>
										</div>
										<div class="course_des">
											Deciphering Marketing Lingo For Small Business Owners
										</div>
									</li>
									<li class="courseDetail">
										<div>
											<a class="courseDetailName" href="#">
												Gỏi cá
												<span class="courseDetailPrice">&nbsp;&nbsp;&nbsp;175k</span>
											</a>
											<div class="clear"></div>
										</div>
										<div class="course_des">
											Deciphering Marketing Lingo For Small Business Owners
										</div>
									</li>
									<li class="courseDetail">
										<div>
											<a class="courseDetailName" href="#">
												Cá sốt
												<span class="courseDetailPrice">&nbsp;&nbsp;&nbsp;175k</span>
											</a>
											<div class="clear"></div>
										</div>
										<div class="course_des">
											Deciphering Marketing Lingo For Small Business Owners
										</div>
									</li>
								</ul>
							</div>
							<div id="img_beer">
								<img src="images/menu/foodMenu/beer.png" alt="" />
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="drinks_menu">
					<p class="text-center text_title">Menu Đồ Uống</p>
					<p class="text-center font_bold">
						<a href="" class="active">Bia Chai</a>&nbsp / 
						<a href="">Bia tươi</a>&nbsp / 
						<a href="">Draught</a>&nbsp / 
						<a href="">Beer's World</a>
					</p>
					<ul class="slideDrinksMenu clearfix">
						<li class="course">
							<div class="courseImage text-center">
								<img src="images/menu/drinksMenu/1.png" alt="Bidding Directories" />
							</div>
							<div class="courseName text-center font_bold">Bia Trúc Bạch</div>
							<div class="courseDescription">
								<p class="text-center">330ml</p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
						<li class="course">
							<div class="courseImage text-center">
								<img src="images/menu/drinksMenu/2.png" alt="Characteristics" />
							</div>
							<div class="courseName text-center font_bold">Gas Ovens</div>
							<div class="courseDescription">
								<p class="text-center">330ml</p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
						<li class="course">
							<div class="courseImage text-center">
								<img src="images/menu/drinksMenu/3.png" alt="Tips For Designing" />
							</div>
							<div class="courseName text-center font_bold">Using Overstoc</div>
							<div class="courseDescription">
								<p class="text-center">330ml</p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
						<li class="course">
							<div class="courseImage text-center">
								<img src="images/menu/drinksMenu/4.png" alt="Better Advertising Copy" />
							</div>
							<div class="courseName text-center font_bold">Bbq Myths</div>
							<div class="courseDescription">
								<p class="text-center">330ml</p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
						<!-- copy -->
						<li class="course">
							<div class="courseImage text-center">
								<img src="images/menu/drinksMenu/4.png" alt="Better Advertising Copy" />
							</div>
							<div class="courseName text-center font_bold">Bbq Myths</div>
							<div class="courseDescription">
								<p class="text-center">330ml</p>
							</div>
							<div class="coursePrice font_bold">
								<p class="text-center">38000&nbsp;&#8363;</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="slideFootGioithieu">
					<div>
						<img src="images/anhfoot1.jpg">
					</div>
					<div>
						<img src="images/anhfoot2.jpg">
					</div>
					<div>
						<img src="images/anhfoot1.jpg">
					</div>
					<div>
						<img src="images/anhfoot2.jpg">
					</div>
					<div>
						<img src="images/anhfoot1.jpg">
					</div>
					<div>
						<img src="images/anhfoot2.jpg">
					</div>
				</div>
			</section>
		</section>
		<footer class="main-footer clearfix">
			<section class="leftFootPage">
				<nav>
					<ul class="ul clearfix">
						<li>
							<a href=""><img src="images/mesicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/ficon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/twicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/mayanhicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/youtuicon.png"></a>
						</li>
						<li>
							<a href=""><img src="images/inboxicon.png"></a>
						</li>
					</ul>
				</nav>
			</section>
			<section class="rightFootPage">
				<p>165 Thái Hà, Đống Đa, Hà Nội   |   Hotline: 0977.165.165 - 0888.165.165</p>
			</section>
		</footer>
	</section>

	<script type="text/javascript">
		$('.slideImpressiveMenu,.slideDrinksMenu,.slideFootGioithieu').slick({
	      	slidesToShow: 4,
	      	slidesToScroll: 1,
	      	autoplay: true,
	      	autoplaySpeed: 1500,
	      	responsive: [
	            {
	            breakpoint: 1000,
	            settings: {
	                slidesToShow: 4,
	                slidesToScroll: 2
	            }
	            },
	            {
	            breakpoint: 800,
	            settings: {
	                slidesToShow: 3,
	                slidesToScroll: 1
	            }
	            },
	            {
	            breakpoint: 481,
	            settings: {
	            	arrows:false,
	                slidesToShow: 1,
	                slidesToScroll: 1
	            }
	            },
	            {
	            breakpoint: 321,
	            settings: {
	            	arrows:false,
	                slidesToShow: 1,
	                slidesToScroll: 1
	            }
	            }
	        ]
	    });

	    $('.cateMenu').click(function(){
	    	$('.cateMenu').css('color','##FFCA05');
	    	$(this).css('color','#fff');

	    	$('.cateMenuList').addClass('hidden');
	    	var pos = $(this).attr('data-position');
	    	$(document).find('#cateMenu_'+pos).removeClass('hidden');
	    });
	</script>
</body>
</html>